{% extends 'base2.html' %}
{% block title %}Create Department{% endblock %}

{% block content %}

<div style="
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#e9f4ff;
">

    <div style="
        width:300px;
        padding:20px;
        background:white;
        border:1px solid #ccc;
        border-radius:10px;
        text-align:center;
    ">

        <h2 style="margin-bottom:20px; color:#0A4D68; font-family:Arial;">
            Add Department
        </h2>

        <form action="/admin/create_department" method="POST">

            <input type="text" name="name" placeholder="Department Name" style="
                width:90%;
                padding:10px;
                margin-bottom:10px;
                border:1px solid #aaa;
                border-radius:5px;
                box-sizing:border-box;
            ">

            <textarea name="description" placeholder="Description (optional)" style="
                width:90%;
                height:80px;
                padding:10px;
                margin-bottom:10px;
                border:1px solid #aaa;
                border-radius:5px;
                box-sizing:border-box;
                resize:none;
            "></textarea>

            <button style="
                width:70%;
                padding:10px;
                margin-top:10px;
                background:#0A4D68;
                color:white;
                border:none;
                border-radius:5px;
                cursor:pointer;
            ">
                Create
            </button>

        </form>
    </div>

</div>

{% endblock %}
