{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}

<div style="
    background-image: url('{{ url_for('static', filename='images/background.png') }}');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
">

    <div style="
        width: 300px; 
        padding: 30px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.35);
        border: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);
        text-align: center;
        font-family: Times New Roman;
        animation: slide 0.9s;
    ">

        <h2 style="color:#0A4D68; margin-bottom: 5px; font-weight:600;">
            Thanks for choosing
        </h2>

        <h2 style="color:#01A8F9; margin-top:0; font-weight:700;">
            Aarogyika!
        </h2>

        <h3 style="color:#333; font-size: 18px; margin: 20px 0 25px 0;">
            SignUp
        </h3>

        <form action="/register" method="POST">
            <input type="text" name="name" placeholder="Enter Name" style="
                width: 90%;
                padding: 12px;
                margin-bottom: 15px;
                border-radius: 10px;
                border: none;
                background: rgba(255,255,255,0.8);
                font-size: 14px;
            "
            onfocus="this.style.outline='2px solid #0A4D68'"
            onblur="this.style.outline='none'"
            >

            
            <input type="email" name="email" placeholder="Enter Email" style="
                width: 90%;
                padding: 12px;
                margin-bottom: 15px;
                border-radius: 10px;
                border: none;
                background: rgba(255,255,255,0.8);
                font-size: 14px;
            "
            onfocus="this.style.outline='2px solid #0A4D68'"
            onblur="this.style.outline='none'"
            >


            <input type="number" name="age" placeholder="Enter age" style="
                width: 90%;
                padding: 12px;
                margin-bottom: 15px;
                border-radius: 10px;
                border: none;
                background: rgba(255,255,255,0.8);
                font-size: 14px;
            "
            onfocus="this.style.outline='2px solid #0A4D68'"
            onblur="this.style.outline='none'"
            >

            <select name="gender" style="
                width: 98%;
                padding: 12px;
                margin-bottom: 15px;
                border-radius: 10px;
                border: none;
                background: rgba(255,255,255,0.8);
                font-size: 14px;
            ">
                <option value="">Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>

            
            <input type="password" name="password" placeholder="Enter Password" style="
                width: 90%;
                padding: 12px;
                margin-bottom: 15px;
                border-radius: 10px;
                border: none;
                background: rgba(255,255,255,0.8);
                font-size: 14px;
            "
            onfocus="this.style.outline='2px solid #0A4D68'"
            onblur="this.style.outline='none'"
            >

            
            <input type="password" name="confirm_password" placeholder="Confirm Password" style="
                width: 90%;
                padding: 12px;
                margin-bottom: 20px;
                border-radius: 10px;
                border: none;
                background: rgba(255,255,255,0.8);
                font-size: 14px;
            "
            onfocus="this.style.outline='2px solid #0A4D68'"
            onblur="this.style.outline='none'"
            >

                <button type="submit" style="
                    width: 60%;
                    padding: 12px;
                    background: #007bff;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                ">
                    SignUp
                </button>
        </form>

        
        <p style="margin-top: 15px; font-size: 14px;">
            Already have an account? 
            <a href="/login" style="color:#007bff; font-weight:600; text-decoration:none;">
                Login
            </a>
        </p>

    </div>


</div>

{% endblock %}